body{
    background: lightgreen;
}

.box{
    background: darkred;
    height: 150px;
    width: 150px;
    animation-duration: 5s;
    animation-name: gfg;
    margin-left : 500px;
    margin-top: 300px;
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
}

@keyframes gfg {
    0%{
        transform: scale(1) rotate(0deg);
        border-radius: 0%;
    }
    50%{
        transform: scale(2) rotate(180deg);
        border-radius: 50%;
        background: blue;
    }
    100%{
        transform:  scale(3) rotate(360deg);
        border-radius: 20%;
        background: yellow;

    }
}